
  
{%extends 'base.html'%}

{%block content%}
<div class="container" style='background-color:maroon;'>
    <div class="col-md-8">
   <div class="well"  style='text-align: center; background-color:navyblue;'>
   
    {%for pitch in pitches%}

    <p>
        {{pitch.category}}:{{pitch.content}}
        
    </p>
    style:
   <br/>

   <img src="https://image.shutterstock.com/image-vector/q-linear-speech-bubbles-green-260nw-2018150360.jpg" alt="Comment" height="200" width="200"> 
   <button>"Comment"</button>
   <input type="submit">
   <br/>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwEgE6qYnoiK_5TMwN2GD94apY1iFrqo0whQ&usqp=CAU" alt="Comment" height="200" width="200">
   <button>"Comment"</button>
   <input type="submit">
   <br/>
   <img src="https://static3.bigstockphoto.com/6/7/3/large2/376042285.jpg" alt="Comment" height="200" width="200">
   <button>Comment</button>
   <input type="submit">
   <br/>
   <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX42300974.jpg" alt="Comment" height="200" width="200">
   <button>Comment</button>
   <input type="submit">
   <br/>

    {%endfor%}

</div>
</div>
</div>

{%endblock%}